* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  background-color: #000;
}

.container {
  max-width: 80rem;
  height: 40rem;
  background-color: #fffdd0;
  margin: 20rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  padding: 0.5rem 3rem;
  background-color: rgb(231, 65, 65);
  box-shadow: 4px 4px 10px #000;
  border-radius: 100px;
  color: #fff;
  font-size: 5rem;
  font-weight: bolder;
}

input {
  box-shadow: 4px 4px 10px #000;
  padding: 3rem;
  border: none;
  background-image: linear-gradient(to bottom right, orange, #ddd);
  border-radius: 30px;
  text-align: center;
  font-size: 5rem;
  width: 20rem;
  height: 20rem;
  display: block;
  /* border-width: 0px; */
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
